/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* hero start */

#hero {
  height: 80vh;
  background: url(../images/about_hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_content_wrapper {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content .hero_header {
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  margin-bottom: 10px;
}

.hero_content .hero_sub_header {
  font-family: var(--primary_font);
  font-size: 1.8em;
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 20px;
}

.hero_shape {
  position: relative;
  width: 350px;
  height: 5px;
  background-color: var(--primary_color);
  margin: auto;
}

.hero_shape::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: var(--primary_color);
}

.hero_shape::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: var(--primary_color);
}

@media screen and (max-width: 990px) {
  .hero_content .hero_header {
    font-size: 3em;
  }

  .hero_content .hero_sub_header {
    font-size: 1.6em;
    margin-top: 15px;
  }

  .hero_shape {
    width: 250px;
  }
}

/* Hero End */

/* About Start */

#about {
  padding: 100px 0;
}

.about_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.about_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.about_header .header_shape {
  width: 230px;
  margin: 0 auto 50px;
}

.about_header .header_shape img {
  width: 100%;
}

.about_content img {
  width: 100%;
  border-radius: 8px 0;
}

.about_content h2 {
  font-family: var(--primary_font);
  font-size: 2em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
}

.about_content p {
  text-align: center;
  color: var(--primary_color);
  font-family: var(--secondary_font);
  font-size: 1em;
  margin: 50px 0;
}

.about_content_text {
  padding: 0 30px;
}

.about_btn {
  text-align: center;
}

.about_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.about_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

@media screen and (max-width: 1200px) {
  .about_content p {
    margin: 25px 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .about_header h3 {
    font-size: 1.1em;
  }

  .about_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .about_header .header_shape {
    width: 180px;
    margin: 0 auto 0px;
  }

  .about_content {
    margin-top: 50px;
  }

  .about_content p {
    margin: 25px 0 30px;
  }
}

/* About End */

/* Customer Review Start */

#customer_review {
  padding-bottom: 100px;
}

.customer_review_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.customer_review_header .header_shape {
  width: 230px;
  margin: 0 auto 50px;
}

.customer_review_header .header_shape img {
  width: 100%;
}

.customer_review_desc {
  font-family: var(--secondary_font);
  text-align: center;
  color: var(--primary_color);
  font-size: 1em;
  font-weight: 400;
}

.customer_review_img img {
  width: 100%;
  border-radius: 12px 0 12px 0;
  -webkit-border-radius: 12px 0 12px 0;
  -moz-border-radius: 12px 0 12px 0;
  -ms-border-radius: 12px 0 12px 0;
  -o-border-radius: 12px 0 12px 0;
}

/* Chart */

.customer_review_chart {
  margin-top: 50px;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.pie {
  --p: 20;
  --b: 22px;
  --c: #d7a469;
  --w: 100%;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  text-align: center;
  place-content: center;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 1s 0.5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@keyframes p {
  from {
    --p: 0;
  }
}

.pie p {
  font-family: var(--secondary_font);
  margin-bottom: 0;
}

.pie p:first-child {
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
  font-weight: 600;
}

.pie p:last-child {
  color: var(--primary_color);
  font-size: 1.1em;
  font-weight: 400;
}

/* Customer Review End */

/* Video Start*/

#video {
  position: relative;
}

.video_content img {
  width: 100%;
}

.video_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video_title h3 {
  font-family: var(--secondary_font);
  font-size: 1.2em;
  color: var(--black);
  white-space: nowrap;
}

.video_title h1 {
  font-family: var(--primary_font);
  font-size: 3.5em;
  color: var(--white);
  word-spacing: 5px;
  margin: 15px 0 50px;
  white-space: nowrap;
}

.video_play_btn {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid var(--primary_color);
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
}

.video_play_btn:hover {
  background-color: var(--primary_color);
}

.video_play_btn i {
  font-size: 2.5em;
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .video_title h3 {
    font-family: var(--secondary_font);
    font-size: 1.1em;
    color: var(--black);
  }

  .video_title h1 {
    font-size: 2.8em;
  }

  .video_play_btn {
    width: 80px;
    height: 80px;
  }

  .video_play_btn i {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 768px) {
  .video_title h3 {
    font-family: var(--secondary_font);
    font-size: 1em;
    color: var(--black);
  }

  .video_title h1 {
    font-size: 2em;
    margin: 15px 0 30px;
  }

  .video_content {
    width: 100%;
    height: 350px;
  }

  .video_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Video End */

/* Counter Start */

#counter {
  background: url(../images/counter_bg_img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 0;
}

.counter_items h2 {
  font-family: var(--primary_font);
  font-size: 2.5em;
  color: var(--white);
  word-spacing: 3px;
  text-align: center;
}
.counter_items p {
  font-family: var(--secondary_font);
  font-size: 1.8em;
  color: var(--white);
  text-align: center;
  margin: 25px 0 0;
}

@media screen and (max-width: 990px) {
  .counter_items h2 {
    font-size: 2em;
  }
  .counter_items p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .counter_items p {
    font-size: 1.5em;
    margin: 20px 0 0;
  }

  .counter_row {
    gap: 60px;
  }
}

/* Counter End */
