/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* hero start */

#hero {
  height: 80vh;
  background: url(../images/blog_hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_content_wrapper {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content .hero_header {
  position: relative;
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  padding: 0 40px 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid var(--primary_color);
}

.hero_content .hero_header::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 15px;
  height: 15px;
  background: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hero_content .hero_header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 15px;
  height: 15px;
  background: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hero_content .hero_sub_header {
  font-family: var(--primary_font);
  font-size: 1.8em;
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  .hero_content .hero_header {
    font-size: 3em;
  }

  .hero_content .hero_sub_header {
    font-size: 1.6em;
    margin-top: 15px;
  }
}

/* Hero End */

/* Blog Single Start */

#blog_single {
  padding: 100px 0;
}

.blog_single_head p {
  font-size: 1em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.blog_single_head h1 {
  font-size: 2.5em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog_single_img {
  margin: 30px 0;
}

.blog_single_img img {
  width: 100%;
  aspect-ratio: 18/9;
  border-radius: 10px 0;
}

.blog_single_content p {
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.blog_single_tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.blog_single_tags h2 {
  font-size: 2em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 15px;
}

.blog_single_tags h2 span {
  font-family: sans-serif !important;
}

.blog_single_tag_items {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.blog_single_tag_items li {
  padding: 8px 12px;
  font-family: var(--secondary_font);
  color: var(--black);
  font-size: 1em;
  border: 1px solid var(--primary_color);
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.blog_single_tag_items li:hover {
  background: var(--primary_color);
  color: var(--white);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.recent_blog_head h1 {
  font-size: 2em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recent_blog_head h1 span {
  font-family: sans-serif !important;
}

.recent_blog_cards {
  margin-top: 40px;
}

.recent_blog_card_img {
  position: relative;
  border-radius: 10px 0;
  overflow: hidden;
}

.recent_blog_card_img img {
  width: 100%;
  aspect-ratio: 8/5;
  border-radius: 10px 0;
}

.recent_blog_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.recent_blog_card_img:hover .recent_blog_card_overlay {
  opacity: 1;
  user-select: auto;
  pointer-events: all;
}

.recent_blog_btn {
  display: inline-block;
  text-decoration: none;
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px 20px;
  text-align: center;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent_blog_btn:hover {
  background: var(--primary_color);
  color: var(--white);
}

.recent_blog_card_content {
  margin-top: 30px;
}

.recent_blog_card_content p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--primary_color);
  text-align: center;
  margin-bottom: 5px;
}

.recent_blog_card_content h2 {
  font-size: 1.6em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .blog_single_tags {
    flex-direction: column;
    align-items: start;
  }

  .blog_single_tag_items {
    gap: 20px;
  }

  .blog_single_tags h2 {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

/* Blog Single End */
