/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* hero start */

#hero {
  height: 80vh;
  background: url(../images/contact_hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_content_wrapper {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content .hero_header {
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  margin-bottom: 10px;
  letter-spacing: 2px;
  white-space: 10px;
}

.hero_content .hero_sub_header {
  font-family: var(--primary_font);
  font-size: 1.8em;
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 20px;
}

.hero_shape {
  position: relative;
  width: 420px;
  height: 5px;
  background-color: var(--primary_color);
  margin: auto;
}

.hero_shape::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: var(--primary_color);
}

.hero_shape::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: var(--primary_color);
}

@media screen and (max-width: 990px) {
  .hero_content .hero_header {
    font-size: 3em;
  }

  .hero_content .hero_sub_header {
    font-size: 1.6em;
    margin-top: 15px;
  }

  .hero_shape {
    width: 250px;
  }
}

/* Hero End */

/* Contact Start */

#contact {
  padding: 100px 0;
}

.contact_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.contact_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.contact_header .header_shape {
  width: 230px;
  margin: 0 auto 50px;
}

.contact_header .header_shape img {
  width: 100%;
}

.contact_wrapper {
  border: 1px solid var(--primary_color);
  padding: 20px 20px 60px 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.contact_item {
  padding-top: 40px;
  text-align: center;
}

.contact_item_icon {
  width: 80px;
  height: 80px;
  border: 3px solid var(--primary_color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contact_item_icon svg {
  width: 40px;
  height: 40px;
}

.contact_item h2 {
  font-family: var(--primary_font);
  font-size: 1.8em;
  font-weight: 600;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 15px 0 40px;
}

.contact_item h2 span {
  font-family: sans-serif;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_item p {
  margin-bottom: 20px;
}

.contact_item p:last-child {
  margin-bottom: 0;
}

.contact_item p a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--secondary_font);
  font-size: 1em;
}

.contact_item p a span {
  color: var(--primary_color);
}

@media screen and (max-width: 990px) {
  .contact_header h3 {
    font-size: 1.1em;
  }

  .contact_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .contact_header .header_shape {
    width: 180px;
    margin: 0 auto 0px;
  }
}

/* Contact End */

/* Active Timing Start */

#active_timing {
  padding-bottom: 100px;
}

.active_timing_content h1 {
  font-family: var(--primary_font);
  font-size: 1.8em;
  font-weight: 600;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
}

.active_content_time {
  margin-top: 25px;
}

.active_content_time h2 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--primary_color);
  text-align: center;
}

.active_content_time p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  text-align: center;
  margin-bottom: 0;
}

/* Active Timing End */

/* Form Start */

#contact_form {
  padding-bottom: 100px;
}

#contact_form .form {
  border: 1px solid var(--primary_color);
  border-radius: 12px 0;
  padding: 40px 30px;
}

#contact_form .form h1 {
  font-family: var(--primary_font);
  font-size: 1.8em;
  font-weight: 600;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.contact_form_items {
  margin-top: 50px;
}

.contact_form_items input,
.contact_form_items textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--primary_color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 30px;
  font-family: var(--secondary_font);
  outline: none;
  color: var(--black);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact_form_items input::placeholder,
.contact_form_items textarea::placeholder {
  font-family: "Metal";
}

.contact_form_items textarea {
  height: 120px;
}

.contact_form_items .contact_form_btn {
  padding: 10px 60px;
  border: none;
  border-top: 4px solid var(--primary_color);
  border-bottom: 4px solid var(--primary_color);
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.contact_form_items .contact_form_btn:hover {
  background-color: var(--primary_color);
  color: var(--white);
}

/* Form End */

/* Map Start */

#map iframe {
  width: 100%;
  height: 500px;
  margin-bottom: -10px;
}

/* Map End */
