/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* Hero Start */

#hero {
  height: 80vh;
  background: url(../images/facilities_hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_content_wrapper {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content .hero_header {
  position: relative;
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  padding: 0 40px 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid var(--primary_color);
}

.hero_content .hero_header::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 15px;
  height: 15px;
  background: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hero_content .hero_header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 15px;
  height: 15px;
  background: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.hero_content .hero_sub_header {
  font-family: var(--primary_font);
  font-size: 1.8em;
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  .hero_content .hero_header {
    font-size: 3em;
  }

  .hero_content .hero_sub_header {
    font-size: 1.6em;
    margin-top: 15px;
  }
}

/* Hero End */

/* hero end */

/* Facilities Start */

#facilities {
  padding: 100px 0;
}

.facilities_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.facilities_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.facilities_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.facilities_header .header_shape img {
  width: 100%;
}

.facilities_content {
  margin-top: 30px;
}

.facilities_content img {
  width: 100%;
}

.facilities_content h4 {
  font-size: 1.2em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.facilities_content h2 {
  font-size: 2em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 0;
}

.facilities_content p {
  font-size: 1em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.facilities_btn {
  margin-top: 35px;
}

.facilities_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-left: 3px solid var(--primary_color);
  border-right: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.facilities_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

@media screen and (max-width: 990px) {
  .facilities_header h3 {
    font-size: 1.1em;
  }

  .facilities_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .facilities_header .header_shape {
    width: 180px;
    margin: 0 auto 0;
  }

  .facilities_content h2 {
    margin: 20px 0;
  }
}

/* Facilities End */
