/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* Navbar Start */

#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999 !important;
}

.navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.navbar_wrapper .logo {
  width: 140px;
}

.nav_items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_items .nav_item {
  display: flex;
}

.nav_items .nav_item .nav_link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--secondary_font);
  font-size: 1.1em;
  position: relative;
  display: block;
  padding: 2px 18px;
  margin: 0 3px;
  border-radius: 6px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.6s;
}

.main-menu .nav_item .nav_link {
  text-decoration: none;
  color: var(--white) !important;
  text-transform: uppercase !important;
  font-family: var(--secondary_font) !important;
  font-size: 1.1em;
  position: relative;
  display: block;
  padding: 2px 18px !important;
  margin: 0 3px;
  border-radius: 6px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.6s;
}

.nav_item .nav_link:hover i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.nav_item .nav_link i {
  color: var(--primary_color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.nav_items .nav_item .nav_link.active,
.nav_items .nav_item .nav_link:hover {
  color: var(--white);
  border-top: 2px solid var(--primary_color);
  border-bottom: 2px solid var(--primary_color);
}

.nav_open_btn i {
  color: var(--primary_color);
  font-size: 2em;
  cursor: pointer;
  display: none;
}

.nav_close_btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3em;
  color: var(--white);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid var(--primary_color);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/* dropdown start */

#dropdown_menu ul {
  margin: 0;
  padding: 0;
}

#tm:checked + .main-menu {
  display: block;
}

.main-menu a {
  transition: 0.4s !important;
  cursor: pointer;
}

#dropdown_menu input[type="checkbox"],
#dropdown_menu ul span.drop-icon {
  display: none;
}

#dropdown_menu .sub-menu {
  width: 250px;
  background: var(--white);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary_color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}

#dropdown_menu .sub-menu li:last-child {
  border-width: 0;
}

#dropdown_menu li,
#toggle-menu,
#dropdown_menu a {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

#dropdown_menu a {
  transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
}

#dropdown_menu .sub-menu {
  display: none;
}

#dropdown_menu .sub-menu li a {
  font-size: 1em;
  text-decoration: none;
  font-family: var(--secondary_font);
  color: var(--primary_color);
  text-align: center;
  padding: 10px 0;
}

#dropdown_menu .sub-menu li {
  padding: 0;
}

#dropdown_menu .sub-menu li a.active,
#dropdown_menu .sub-menu li a:hover {
  background-color: var(--primary_color);
  color: var(--white) !important;
}

#dropdown_menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#dropdown_menu .drop-icon i {
  line-height: 1;
  padding-left: 5px;
}

@media only screen and (min-width: 990px) {
  #dropdown_menu .main-menu {
    display: block;
  }

  #toggle-menu,
  #dropdown_menu label.drop-icon {
    display: none;
  }

  #dropdown_menu ul span.drop-icon {
    display: inline-block;
  }

  #dropdown_menu li {
    float: left;
  }

  #dropdown_menu .sub-menu li {
    float: none;
  }

  #dropdown_menu .sub-menu {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3000;
  }

  #dropdown_menu .sub-menu,
  #dropdown_menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #dropdown_menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #dropdown_menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .nav_items .nav_item .nav_link {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 990px) {
  .navbar_wrapper .logo {
    width: 100px;
  }

  .nav_items {
    padding: 80px 0 0 50px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 300px;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999 !important;
    transition: all 0.5s;
  }

  .nav_items .nav_item .nav_link {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .nav_items .nav_item {
    margin: 25px 0;
  }

  .nav_open_btn i {
    display: block;
  }

  .nav_close_btn {
    display: block;
  }
}

/* Navbar End */

/* Hero End  */

/* Footer Start */

#footer {
  background-color: #1c1c1c;
}

.footer_logo {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.footer_logo img {
  width: 250px;
}

.footer_contact {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.footer_contact_icon {
  width: 70px;
  height: 70px;
}

.footer_contact_icon svg {
  width: 100%;
  height: 100%;
}

.footer_contact a {
  display: inline-block;
  width: calc(100% - 70px);
  font-family: var(--secondary_font);
  color: var(--white);
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 15px;
}

.footer_contact a:hover {
  color: var(--white);
}

.footer_nav_items {
  list-style: none;
  margin: 60px 0 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer_nav_items li a {
  display: flex;
  font-size: 1em;
  font-family: var(--secondary_font);
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  position: relative;
  display: block;
  transition: 0.3s;
}

.footer_nav_items li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary_color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.footer_nav_items li a:hover::after {
  transform: scaleX(1) !important;
  transform-origin: left;
  left: 0;
}

.footer_social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer_social_icons a {
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  color: var(--primary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary_color);
  border-radius: 50%;
  transition: all 0.5s;
}

.footer_social_icons a:hover {
  background-color: var(--primary_color);
  color: var(--white);
}

.copyright {
  border-top: 1px solid var(--primary_color);
}

.copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  padding: 25px 0;
}

.copyright p span {
  color: var(--primary_color);
  font-size: 1.8em;
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .footer_contact_icon {
    width: 50px;
    height: 50px;
  }

  .footer_contact a {
    display: inline-block;
    width: calc(100% - 50px);
    font-size: 1em;
  }
}

@media screen and (max-width: 990px) {
  .footer_logo {
    margin-top: 30px;
  }
  .footer_logo img {
    width: 180px;
  }

  .copyright p {
    display: block;
    font-size: 0.9em;
  }

  .copyright p span {
    font-size: 1.4em;
    margin-right: 0;
  }

  /* 
  .footer_nav_items {
    margin: 60px 0 80px;
    display: inline-block;
    text-align: center;
    gap: 30px;
  } */
}

/* Footer End */
