/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* Hero Start  */

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.img_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  transition: 1s ease-in-out;
  z-index: -1;
}

.img_container img {
  width: 100vw;
  height: 100%;
  user-select: none;
}

.pagination {
  position: absolute;
  top: 45%;
  right: 80px;
  transform: translateY(-45%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #d7a469;
  width: 28px;
  height: 100px;
  border-radius: 30px;
}

.pagination span {
  width: 6px;
  height: 6px;
  background: var(--white);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  z-index: 999 !important;
}

.pagination span.active {
  outline: 1px solid var(--white);
  outline-offset: 4px;
}

/* Navbar Start */

#navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999 !important;
}

.navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.navbar_wrapper .logo {
  width: 140px;
}

.nav_items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_items .nav_item {
  display: flex;
}

.nav_items .nav_item .nav_link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--secondary_font);
  font-size: 1.1em;
  padding: 5px 0;
  position: relative;
  display: block;
  padding: 2px 18px;
  margin: 0 3px;
  border-radius: 6px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.6s;
}

.nav_item .nav_link i {
  color: var(--primary_color);
}

.nav_items .nav_item .nav_link.active,
.nav_items .nav_item .nav_link:hover {
  color: var(--white);
  border-top: 2px solid var(--primary_color);
  border-bottom: 2px solid var(--primary_color);
}

.nav_open_btn i {
  color: var(--primary_color);
  font-size: 2em;
  cursor: pointer;
  display: none;
}

.nav_close_btn {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3em;
  color: var(--white);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid var(--primary_color);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav_items .nav_item .nav_link {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 990px) {
  .navbar_wrapper .logo {
    width: 100px;
  }

  .nav_items {
    padding: 80px 0 0 50px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 300px;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999 !important;
    transition: all 0.5s;
  }

  .nav_items .nav_item .nav_link {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .nav_items .nav_item {
    margin: 25px 0;
  }

  .nav_open_btn i {
    display: block;
  }

  .nav_close_btn {
    display: block;
  }
}

/* Navbar End */

/* Hero End  */

/* Footer Start */

#footer {
  background-color: #1c1c1c;
}

.footer_logo {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}

.footer_logo img {
  width: 250px;
}

.footer_contact {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.footer_contact_icon {
  width: 70px;
  height: 70px;
}

.footer_contact_icon svg {
  width: 100%;
  height: 100%;
}

.footer_contact a {
  display: inline-block;
  width: calc(100% - 70px);
  font-family: var(--secondary_font);
  color: var(--white);
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 15px;
}

.footer_contact a:hover {
  color: var(--white);
}

.footer_nav_items {
  list-style: none;
  margin: 60px 0 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer_nav_items li a {
  display: flex;
  font-size: 1em;
  font-family: var(--secondary_font);
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  position: relative;
  display: block;
  transition: 0.3s;
}

.footer_nav_items li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary_color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.footer_nav_items li a:hover::after {
  transform: scaleX(1) !important;
  transform-origin: left;
  left: 0;
}

.footer_social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer_social_icons a {
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  color: var(--primary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary_color);
  border-radius: 50%;
  transition: all 0.5s;
}

.footer_social_icons a:hover {
  background-color: var(--primary_color);
  color: var(--white);
}

.copyright {
  border-top: 1px solid var(--primary_color);
}

.copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: var(--secondary_font);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  padding: 25px 0;
}

.copyright p span {
  color: var(--primary_color);
  font-size: 1.8em;
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .footer_contact_icon {
    width: 50px;
    height: 50px;
  }

  .footer_contact a {
    display: inline-block;
    width: calc(100% - 50px);
    font-size: 1em;
  }
}

@media screen and (max-width: 990px) {
  .footer_logo {
    margin-top: 30px;
  }
  .footer_logo img {
    width: 180px;
  }

  .copyright p {
    display: block;
    font-size: 0.9em;
  }

  .copyright p span {
    font-size: 1.4em;
    margin-right: 0;
  }

  /* 
  .footer_nav_items {
    margin: 60px 0 80px;
    display: inline-block;
    text-align: center;
    gap: 30px;
  } */
}

/* Footer End */
