/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* Hero Slider Start */

#hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero_shape img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-prev .slide_img,
.swiper-slide-active .slide_img,
.swiper-slide-duplicate-active .slide_img {
  animation: zoom 10s 1s ease forwards;
  -webkit-animation: zoom 10s 1s ease forwards;
}

@keyframes zoom {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  to {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}

.hero_content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.hero_content .hero_header {
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  line-height: 90px;
  word-spacing: 18px;
  opacity: 0;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

.swiper-slide-active .hero_content .hero_header {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.hero_content .hero_sub_header {
  font-family: var(--secondary_font);
  padding: 5px 20px;
  color: var(--white);
  font-size: 1.2em;
  display: inline-block;
  border-top: 4px solid var(--primary_color);
  border-bottom: 4px solid var(--primary_color);
  border-radius: 15px 0;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

.swiper-slide-active .hero_content .hero_sub_header {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.hero_content .hero_btn {
  margin-top: 30px;
  transform: translateY(60px);
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  opacity: 0;
}

.swiper-slide-active .hero_content .hero_btn {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition-delay: 0.6s;
  opacity: 1;
}

.hero_content .hero_btn a {
  text-decoration: none;
  font-size: 1.1em;
  font-family: var(--secondary_font);
  color: var(--white);
  background-color: var(--primary_color);
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 13px 0;
  border-radius: 10px 0;
  transition: 0.5s;
  margin: auto;
}

.hero_content .hero_btn a .hero_btn_icon {
  width: 22px;
  margin-left: 8px;
  transition: 0.5s;
}

.hero_content .hero_btn a:hover .hero_btn_icon {
  transform: translateX(6px);
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -o-transform: translateX(6px);
}

.swiper-pagination {
  right: 60px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #d7a469 !important;
  width: 28px;
  height: 110px;
  border-radius: 30px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: var(--white) !important;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 1 !important;
  z-index: 999 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  outline: 1px solid var(--white) !important;
  outline-offset: 4px !important;
}

@media screen and (max-width: 1200px) {
  .hero_content .hero_header {
    font-size: 3em;
    line-height: 70px;
    word-spacing: 12px;
  }

  .hero_content .hero_sub_header {
    padding: 5px 20px;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 990px) {
  .hero_content .hero_header {
    font-size: 2.2em;
    line-height: 50px;
    word-spacing: 10px;
  }

  .hero_content .hero_sub_header {
    padding: 5px 20px;
    font-size: 0.9em;
  }

  .hero_content .hero_btn a {
    font-size: 0.9em;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}

/* Hero Slider End */

/* Reservation Start */

#reservation {
  position: absolute;
  width: 100%;
  margin-top: -100px;
  z-index: 999 !important;
}

.reservation_form {
  background-color: var(--black);
  padding: 25px 40px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.reservation_content h3 {
  text-align: center;
  font-size: 1.6em;
  font-family: var(--secondary_font);
  color: var(--white);
  margin-bottom: 20px;
}

.reservation_content label {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
}

.select_box {
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}

.custom-select-wrapper::before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.custom-select-wrapper::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0;
  width: 4px;
  height: 4px;
  background: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.custom-select-wrapper select {
  width: 100%;
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.custom-select-trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  font-family: var(--secondary_font);
  font-size: 1em;
  padding: 2px 10px 8px;
  font-weight: 300;
  color: var(--white);
  border-bottom: 1px solid var(--primary_color);
  cursor: pointer;
}
.custom-select-trigger:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-right: 0px;
  border-bottom: 2px solid var(--primary_color);
  border-right: 2px solid var(--primary_color);
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 14px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 10px 0;
  font-family: var(--secondary_font);
  text-align: center;
  border: 1px solid var(--primary_color);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: var(--white);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 1em;
  font-weight: 400;
  color: var(--black);
  line-height: 47px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  color: var(--white);
  background: var(--primary_color);
}

.reservation_date {
  display: flex;
  align-items: center;
  position: relative;
}

.reservation_date input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary_color);
  color: var(--white);
  font-family: var(--secondary_font);
  display: inline;
  width: 100%;
  padding: 5px 0 5px 15px;
  margin-left: 5px;
  position: relative;
}

.reservation_date span::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 45px;
  width: 4px;
  height: 4px;
  background-color: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.reservation_date span::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 4px;
  height: 4px;
  background-color: var(--primary_color);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.reservation_btn {
  text-align: center;
  margin-top: 50px;
}

.reservation_btn button {
  border: none;
  outline: none;
  background: transparent;
  border: 3px solid var(--primary_color);
  padding: 10px 40px;
  font-family: var(--secondary_font);
  color: var(--white);
  font-size: 1.1em;
  border-radius: 8px 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.reservation_btn button:hover {
  background-color: var(--primary_color);
}

/* Date Picker Start */

.date-picker-x {
  background-color: var(--white) !important;
  border: 1px solid var(--primary_color) !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.date-picker-x.active::before {
  display: none;
}

.dpx-title {
  font-family: var(--primary_font) !important;
  color: var(--black) !important;
  font-size: 1.4em !important;
  text-transform: uppercase;
}

.dpx-prev,
.dpx-next {
  color: var(--primary_color) !important;
}

.dpx-title-box {
  border: none !important;
}

.dpx-weekday.dpx-item {
  font-family: var(--secondary_font) !important;
  color: var(--primary_color) !important;
  font-size: 1.1em;
}

.dpx-btns {
  display: none !important;
}

.dpx-item {
  font-family: var(--secondary_font) !important;
  color: var(--black) !important;
}

.dpx-out.dpx-item {
  color: #d2d2d2 !important;
}

.dpx-selected {
  background-color: #d7a469 !important;
  color: var(--white) !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dpx-current {
  border-color: var(--primary_color) !important;
}

@media screen and (max-width: 768px) {
  .reservation_content {
    margin-bottom: 40px;
  }

  .reservation_content:last-child {
    margin-bottom: 40px;
  }
}

/* Date Picker End */

/* Reservation End */

/* About Start */

#about {
  padding: 250px 0 100px;
}

.about_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.about_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.about_header .header_shape {
  width: 230px;
  margin: 0 auto 50px;
}

.about_header .header_shape img {
  width: 100%;
}

.about_content img {
  width: 100%;
  border-radius: 8px 0;
}

.about_content h2 {
  font-family: var(--primary_font);
  font-size: 2em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
}

.about_content p {
  text-align: center;
  color: var(--primary_color);
  font-family: var(--secondary_font);
  font-size: 1em;
  margin: 50px 0;
}

.about_content_text {
  padding: 0 30px;
}

.about_btn {
  text-align: center;
}

.about_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.about_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

@media screen and (max-width: 1200px) {
  .about_content p {
    margin: 25px 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .about_header h3 {
    font-size: 1.1em;
  }

  .about_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .about_header .header_shape {
    width: 180px;
    margin: 0 auto 0px;
  }

  .about_content {
    margin-top: 50px;
  }

  .about_content p {
    margin: 25px 0 30px;
  }
}

/* About End */

/* Service Start */

#service {
  padding: 0 0 100px;
}

.service_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.service_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.service_header .header_shape {
  width: 230px;
  margin: 0 auto 40px;
}

.service_header .header_shape img {
  width: 100%;
}

.service_card {
  /* width: 100%; */
  height: 280px;
  padding: 20px;
  display: grid;
  align-content: space-between;
  border: 2px solid var(--primary_color);
  border-radius: 15px 0;
  margin: 35px 5px 0;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.service_card .service_card_icon {
  width: 65px;
  height: 65px;
  margin: auto;
}

.service_card .service_card_icon svg {
  width: 100%;
  height: 100%;
}

.service_card .service_card_icon svg path,
.service_card .service_card_icon svg circle {
  /* fill: var(--primary_color); */
  stroke: var(--primary_color);
  transition: all 0.5s ease-in-out;
}

.service_card:hover .service_card_icon svg path,
.service_card:hover .service_card_icon svg circle {
  stroke: #c7812f !important;
}

.service_card h1 {
  font-family: var(--primary_font);
  font-size: 2em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  word-spacing: 10px;
  margin: 30px 0 0;
}

.service_card p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--primary_color);
  text-align: center;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}

.service_card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ffdbb0;
  border-radius: 13px 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.service_card_overlay img {
  width: 60px;
  z-index: 9999 !important;
}

.service_card_overlay img:nth-child(1) {
  position: absolute;
  top: -35px;
  right: -35px;
}
.service_card_overlay img:nth-child(2) {
  position: absolute;
  bottom: -35px;
  left: -35px;
  transform: rotate(-180deg);
}

.service_card:hover .service_card_overlay {
  opacity: 1;
  user-select: auto;
  pointer-events: visible;
}

.service_card:hover.service_card {
  border-color: #c7812f;
}

.service_card:hover.service_card p {
  color: var(--black);
}

@media screen and (max-width: 990px) {
  .service_header h3 {
    font-size: 1.1em;
  }

  .service_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .service_header .header_shape {
    width: 180px;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 575px) {
  .service_card {
    width: 85%;
    height: 280px;
    display: grid;
    align-content: space-between;
    padding: 20px;
    margin: 40px auto 0;
  }
}

/* Service End */

/* Choose Room Start */

#choose_room {
  padding: 0 0 100px;
}

.choose_room_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.choose_room_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.choose_room_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.choose_room_header .header_shape img {
  width: 100%;
}

.choose_room_card {
  width: 100%;
  height: 420px;
  border-radius: 25px 0;
  position: relative;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
  margin-top: 35px;
}

.choose_room_card_border_right,
.choose_room_card_border_left {
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 99 !important;
  transition: all 1s;
}

.choose_room_card_border_right {
  top: 0;
  right: 0;
  border-right: 6px solid var(--primary_color);
}

.choose_room_card_border_left {
  bottom: 0;
  left: 0;
  border-left: 6px solid var(--primary_color);
}

.choose_room_card:hover .choose_room_card_border_right,
.choose_room_card:hover .choose_room_card_border_left {
  border-radius: 25px 0;
  height: 100%;
}

.choose_room_card:hover .choose_room_card_overlay {
  opacity: 1;
  user-select: auto;
  pointer-events: all;
  transform: scale(1);
}

.choose_room_card .choose_room_card_img {
  width: 100%;
  height: 100%;
  border-radius: 25px 0;
}

.choose_room_card_overlay {
  position: absolute;
  width: calc(100% - 12px);
  margin: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-content: space-between;
  border-radius: 25px 0;
  padding: 20px;
  opacity: 0;
  transform: scale(0.6);
  user-select: none;
  pointer-events: none;
  transition: 1s ease-in-out;
  z-index: 999 !important;
}

.choose_room_card_overlay_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  border-radius: 25px 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.5s 0.9s;
  opacity: 0;
}

.choose_room_card:hover .choose_room_card_overlay_bg {
  opacity: 1;
}

.choose_room_card_head h3 {
  font-family: var(--primary_font);
  color: var(--white);
  font-size: 1.6em;
  text-align: center;
  word-spacing: 6px;
}

.choose_room_card_head p {
  font-family: var(--secondary_font);
  color: var(--white);
  font-size: 1em;
  text-align: center;
}

.choose_room_card_btn {
  display: flex;
  justify-content: center;
}

.choose_room_card_btn a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px 0;
  margin: 0 8px;
}

.choose_room_card_btn a img {
  width: 24px;
}

.choose_room_card_rating {
  text-align: center;
}

.choose_room_card_rating a {
  text-decoration: none;
  color: #f4a329;
  font-size: 1em;
  margin: 0 1px;
}

.choose_room_card_rating a:hover {
  color: #f4a329;
}

.choose_room_card_desc p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
  margin-bottom: 0;
}

.choose_room_card_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose_room_card_price p {
  font-family: var(--secondary_font);
  font-size: 1.3em;
  color: var(--white);
  margin-bottom: 0;
}

.choose_room_card_price p span {
  font-size: 1.2em;
  font-weight: 500;
}

.choose_room_card_price_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.choose_room_card_price_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
}

.choose_room_btn {
  text-align: center;
  margin-top: 50px;
}

.choose_room_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.choose_room_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

@media screen and (max-width: 990px) {
  .choose_room_header h3 {
    font-size: 1.1em;
  }

  .choose_room_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .choose_room_header .header_shape {
    width: 180px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 768px) {
  .choose_room_card_price_btn a {
    width: 140px;
    padding: 9px 0;
  }
}

@media screen and (max-width: 575px) {
  .choose_room_card {
    height: 320px;
  }

  .choose_room_card_price_btn a {
    width: 110px;
    padding: 8px 0;
    font-size: 0.8em;
  }

  .choose_room_card_price p {
    font-size: 0.9em;
  }

  .choose_room_card_price p span {
    font-size: 1em;
  }

  .choose_room_card_head h3 {
    font-size: 1.2em;
  }

  .choose_room_card_head p {
    font-size: 0.9em;
  }

  .choose_room_card_desc p {
    font-size: 0.7em;
  }
}

/* Choose Room End */

/* Video Start*/

#video {
  position: relative;
}

.video_content img {
  width: 100%;
}

.video_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video_title h3 {
  font-family: var(--secondary_font);
  font-size: 1.2em;
  color: var(--black);
  white-space: nowrap;
}

.video_title h1 {
  font-family: var(--primary_font);
  font-size: 3.5em;
  color: var(--white);
  word-spacing: 5px;
  margin: 15px 0 50px;
  white-space: nowrap;
}

.video_play_btn {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid var(--primary_color);
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
}

.video_play_btn:hover {
  background-color: var(--primary_color);
}

.video_play_btn i {
  font-size: 2.5em;
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .video_title h3 {
    font-family: var(--secondary_font);
    font-size: 1.1em;
    color: var(--black);
  }

  .video_title h1 {
    font-size: 2.8em;
  }

  .video_play_btn {
    width: 80px;
    height: 80px;
  }

  .video_play_btn i {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 768px) {
  .video_title h3 {
    font-family: var(--secondary_font);
    font-size: 1em;
    color: var(--black);
  }

  .video_title h1 {
    font-size: 2em;
    margin: 15px 0 30px;
  }

  .video_content {
    width: 100%;
    height: 350px;
  }

  .video_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Video End */

/* Counter Start */

#counter {
  background: url(../images/counter_bg_img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  padding: 45px 0;
}

.counter_items h2 {
  font-family: var(--primary_font);
  font-size: 2.5em;
  color: var(--white);
  word-spacing: 3px;
  text-align: center;
}

.counter_items .counter_text {
  text-align: center;
}

.counter_items span {
  font-family: var(--secondary_font);
  font-size: 1.8em;
  color: var(--white);
  text-align: center;
  margin: 25px 0 0;
}

@media screen and (max-width: 990px) {
  .counter_items h2 {
    font-size: 2em;
  }
  .counter_items p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .counter_items p {
    font-size: 1.5em;
    margin: 20px 0 0;
  }

  .counter_row {
    gap: 60px;
  }
}

/* Counter End */

/* Gallery Start */

#gallery {
  padding: 0 0 100px;
}

.gallery_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.gallery_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.gallery_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.gallery_header .header_shape img {
  width: 100%;
}

.gallery_cards {
  position: relative;
  border-radius: 10px 0;
  overflow: hidden;
  margin-top: 25px;
}

.gallery_cards img {
  width: 100%;
  border-radius: 10px 0;
}

.gallery_cards:hover .gallery_card_overlay {
  opacity: 1;
  user-select: all;
  pointer-events: all;
}

.gallery_card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.gallery_card_btn {
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary_color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.gallery_card_btn a {
  text-decoration: none;
  color: var(--white);
}

.gallery_card_btn a i {
  text-decoration: none;
  color: var(--white);
}

.gallery_card_btn:hover {
  background-color: var(--primary_color);
  color: var(--white);
}

.gallery_card_btn a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.8em;
}

.gallery_btn {
  text-align: center;
  margin-top: 50px;
}

.gallery_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.gallery_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

@media screen and (max-width: 990px) {
  .gallery_header h3 {
    font-size: 1.1em;
  }

  .gallery_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .gallery_header .header_shape {
    width: 180px;
    margin: 0 auto 0;
  }
}

/* Gallery End */

/* Blog Start */

#blog {
  padding: 0 0 100px;
}

.blog_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.blog_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.blog_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.blog_header .header_shape img {
  width: 100%;
}

.blog_content {
  margin-top: 30px;
}

.blog_content img {
  width: 100%;
}

.blog_content h4 {
  font-size: 1.2em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.blog_content h2 {
  font-size: 2em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 0;
}

.blog_content p {
  font-size: 1em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.blog_btn {
  margin-top: 25px;
}

.blog_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-left: 3px solid var(--primary_color);
  border-right: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.blog_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

@media screen and (max-width: 990px) {
  .blog_header h3 {
    font-size: 1.1em;
  }

  .blog_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .blog_header .header_shape {
    width: 180px;
    margin: 0 auto 0;
  }

  .blog_content h2 {
    margin: 20px 0;
  }
}

/* Blog End */

/* Food Menu Start */

#menu {
  padding: 0 0 100px;
}

.menu_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.menu_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.menu_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.menu_header .header_shape img {
  width: 100%;
}

.menu_item_head {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
  background: url(../images/restaurent_foods_bg_img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .menu_item_head img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
} */

.menu_item_btn {
  text-align: center;
}

.menu_item_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.menu_item_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.menu_item_img {
  width: 200px;
  height: 220px;
  border-radius: 6px 0;
  overflow: hidden;
}

.menu_item_img img {
  width: 100%;
  height: 100%;
  border-radius: 6px 0;
}

.menu_item_details h2 {
  font-family: var(--primary_font);
  font-size: 1.8em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.menu_item_details p {
  font-family: var(--secondary_font);
  font-size: 1.1em;
  text-align: center;
  color: var(--black);
  margin: 35px 0 45px;
}

.menu_item_details p span {
  color: var(--primary_color);
}

@media screen and (max-width: 1400px) {
  .menu_item_img {
    width: 180px;
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .menu_item_img {
    width: 160px;
    height: 180px;
  }

  .menu_item_btn a {
    width: 120px;
    padding: 8px 0;
    font-size: 0.8em;
  }

  .menu_item_details h2 {
    font-size: 1.4em;
  }

  .menu_item_details p {
    font-size: 1em;
    margin: 30px 0 40px;
  }
}

@media screen and (max-width: 990px) {
  .menu_header h3 {
    font-size: 1.1em;
  }

  .menu_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .menu_header .header_shape {
    width: 180px;
    margin: 0 auto 40px;
  }

  .menu_item_head {
    height: 400px;
  }

  .menu_item_img {
    width: 200px;
    height: 220px;
    margin: 0 auto 25px;
  }

  .menu_item {
    justify-content: center;
  }

  .menu_item_details h2 {
    font-size: 1.6em;
  }

  .menu_item_details p {
    margin: 20px 0 30px;
  }
}

/* Food Menu End */

/* Testimonial Start */

#testimonial {
  padding: 0 0 100px;
}

.testimonial_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.testimonial_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.testimonial_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.testimonial_header .header_shape img {
  width: 100%;
}

.content-area {
  background: var(--white);
  border-radius: 10px;
  margin: 15px 5px 20px;
  position: relative;
  transition: 0.5s;
}
.content {
  padding: 30px;
}

.owl-dots {
  text-align: center;
  margin-top: 10px;
}

.owl-dot {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--primary_color) !important;
  display: inline-block;
  margin: 0 8px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  outline: 2px solid var(--primary_color) !important;
  outline-offset: 3px;
}

.client {
  display: flex;
  align-items: center;
}

.client_right {
  justify-content: end;
}

.client_avatar {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 25px;
}

.client_avatar .client_avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.client_avatar .avatar_quote_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

.client_avatar .avatar_quote_img img {
  width: 100%;
  height: 100%;
}

.client_right .client_info {
  text-align: right;
}

.client_right .client_avatar {
  margin-left: 25px;
  margin-right: 0;
}

.client_right .avatar_quote_img {
  bottom: 0;
  left: 0;
}

.client .client_info h2 {
  font-family: var(--primary_font);
  font-size: 2em;
  word-spacing: 2px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.client .client_info p {
  font-family: var(--secondary_font);
  font-size: 1em;
  text-transform: uppercase;
  color: var(--primary_color);
  margin-bottom: 0;
}

.client_message p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--primary_color);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 25px;
}

.testimonial_card_border_right,
.testimonial_card_border_left {
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 99 !important;
  transition: all 1s;
}

.testimonial_card_border_right {
  top: 0;
  right: 0;
  border-right: 3px solid var(--primary_color);
}

.testimonial_card_border_left {
  bottom: 0;
  left: 0;
  border-left: 3px solid var(--primary_color);
}

.content-area:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.content-area:hover .testimonial_card_border_right,
.content-area:hover .testimonial_card_border_left {
  border-radius: 10px 0;
  height: 100%;
}

.client_right .client_info {
  width: calc(100% - 140px);
}
.client_left .client_info {
  width: calc(100% - 140px);
}

@media screen and (max-width: 990px) {
  .testimonial_header h3 {
    font-size: 1.1em;
  }

  .testimonial_header h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  .testimonial_header .header_shape {
    width: 180px;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 575px) {
  .client_avatar {
    width: 80px;
    height: 80px;
  }

  .client_avatar .avatar_quote_img {
    width: 30px;
    height: 30px;
  }

  .client_right .client_info {
    width: calc(100% - 80px);
  }
  .client_left .client_info {
    width: calc(100% - 80px);
  }

  .client .client_info h2 {
    font-size: 1.4em;
  }

  .client .client_info p {
    font-size: 0.8em;
  }

  .client_message p {
    font-size: 0.8em;
  }

  .content {
    padding: 30px 20px;
  }

  .client .client_avatar {
    margin-right: 15px;
    margin-left: 0;
  }

  .client_right .client_avatar {
    margin-left: 15px;
    margin-right: 0;
  }
}

/* Testimonial End */
