/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* hero start */

.hero_content {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_content .hero_sub_header {
  font-family: var(--secondary_font);
  padding: 5px 20px;
  color: var(--white);
  font-size: 1.2em;
  display: inline-block;
  border-top: 4px solid var(--primary_color);
  border-bottom: 4px solid var(--primary_color);
  border-radius: 15px 0;
  margin-bottom: 40px;
}

.hero_content .hero_header {
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  line-height: 90px;
  word-spacing: 18px;
}

.hero_content .hero_btn {
  margin-top: 30px;
}

.hero_content .hero_btn a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: var(--secondary_font);
  color: var(--white);
  background-color: var(--primary_color);
  width: 220px;
  display: inline-block;
  text-align: center;
  padding: 13px 0;
  border-radius: 10px 0;
  transition: 0.5s;
}

.hero_content .hero_btn a .hero_btn_icon {
  width: 22px;
  margin-left: 4px;
  transition: 0.5s;
}

.hero_content .hero_btn a:hover .hero_btn_icon {
  transform: translateX(6px);
}

/* hero end */

/* Reservetion Start */

#reservetion {
  margin-top: -100px;
  z-index: 9999999 !important;
}

.reservetion_wrapper {
  background-color: var(--black);
  padding: 25px 40px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.reservetion_content h3 {
  text-align: center;
  font-size: 1.6em;
  font-family: var(--secondary_font);
  color: var(--white);
}

.reservetion_content label {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
}

.select_box {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.select {
  color: var(--white);
  font-family: var(--secondary_font);
  text-align: center;
  font-size: 1.6em;
  user-select: none;
}

.select_text i {
  color: var(--primary_color);
  margin-left: 4px;
}

.options_list {
  position: absolute;
  width: 100%;
  background-color: var(--white);
  border: 1px solid #c7812f;
  border-radius: 4px;
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--black);
  overflow-y: auto;
  display: none;
}

.options_list.active {
  display: block;
}

.options_list .option {
  padding: 8px 0;
  transition: 0.5s;
}

.options_list .option.active,
.options_list .option:hover {
  background-color: #c7812f;
  color: var(--white);
}

.select_text {
  text-align: center;
  color: var(--white);
  font-family: var(--secondary_font);
  font-size: 1em;
  line-height: 15px;
  margin-top: 15px;
  padding-bottom: 8px;
}

.select_text img {
  width: 100%;
}

/* Reservetion End */

/* About Start */

#about {
  padding: 100px 0;
}

.about_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.about_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.about_header .header_shape {
  width: 230px;
  margin: 0 auto 50px;
}

.about_header .header_shape img {
  width: 100%;
}

.about_content img {
  width: 100%;
  border-radius: 8px 0;
}

.about_content h2 {
  font-family: var(--primary_font);
  font-size: 2em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
}

.about_content p {
  text-align: center;
  color: var(--primary_color);
  font-family: var(--secondary_font);
  font-size: 1em;
  margin: 50px 0;
}

.about_content_text {
  padding: 0 30px;
}

.about_btn {
  text-align: center;
}

.about_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.about_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

/* About End */

/* Service Start */

#service {
  padding: 0 0 100px;
}

.service_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.service_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.service_header .header_shape {
  width: 230px;
  margin: 0 auto 40px;
}

.service_header .header_shape img {
  width: 100%;
}

.service_card {
  /* width: 100%; */
  height: 280px;
  padding: 20px;
  display: grid;
  align-content: space-between;
  border: 2px solid var(--primary_color);
  border-radius: 15px 0;
  margin: 35px 5px 0;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.service_card .service_card_icon {
  width: 65px;
  height: 65px;
  margin: auto;
}

.service_card .service_card_icon svg {
  width: 100%;
  height: 100%;
}

.service_card .service_card_icon svg path,
.service_card .service_card_icon svg circle {
  /* fill: var(--primary_color); */
  stroke: var(--primary_color);
  transition: all 0.5s ease-in-out;
}

.service_card:hover .service_card_icon svg path,
.service_card:hover .service_card_icon svg circle {
  stroke: #c7812f !important;
}

.service_card h1 {
  font-family: var(--primary_font);
  font-size: 2em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  word-spacing: 10px;
  margin: 30px 0 0;
}

.service_card p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--primary_color);
  text-align: center;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}

.service_card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ffdbb0;
  border-radius: 13px 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.service_card_overlay img {
  width: 60px;
  z-index: 9999 !important;
}

.service_card_overlay img:nth-child(1) {
  position: absolute;
  top: -35px;
  right: -35px;
}
.service_card_overlay img:nth-child(2) {
  position: absolute;
  bottom: -35px;
  left: -35px;
  transform: rotate(-180deg);
}

.service_card:hover .service_card_overlay {
  opacity: 1;
  user-select: auto;
  pointer-events: visible;
}

.service_card:hover.service_card {
  border-color: #c7812f;
}

.service_card:hover.service_card p {
  color: var(--black);
}

@media screen and (max-width: 1200px) {
}

/* Service End */

/* Choose Room Start */

#choose_room {
  padding: 0 0 100px;
}

.choose_room_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.choose_room_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.choose_room_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.choose_room_header .header_shape img {
  width: 100%;
}

.choose_room_card {
  width: 100%;
  height: 420px;
  border-radius: 25px 0;
  position: relative;
  /* overflow: hidden; */
  transition: all 0.5s ease-in-out;
  margin-top: 35px;
}

.choose_room_card_border_right,
.choose_room_card_border_left {
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 99 !important;
  transition: all 1s;
}

.choose_room_card_border_right {
  top: 0;
  right: 0;
  border-right: 6px solid var(--primary_color);
}

.choose_room_card_border_left {
  bottom: 0;
  left: 0;
  border-left: 6px solid var(--primary_color);
}

.choose_room_card:hover .choose_room_card_border_right,
.choose_room_card:hover .choose_room_card_border_left {
  border-radius: 25px 0;
  height: 100%;
}

.choose_room_card:hover .choose_room_card_overlay {
  opacity: 1;
  user-select: auto;
  pointer-events: all;
  transform: scale(1);
}

.choose_room_card .choose_room_card_img {
  width: 100%;
  height: 100%;
  border-radius: 25px 0;
}

.choose_room_card_overlay {
  position: absolute;
  width: calc(100% - 12px);
  margin: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-content: space-between;
  border-radius: 25px 0;
  padding: 20px;
  opacity: 0;
  transform: scale(0.6);
  user-select: none;
  pointer-events: none;
  transition: 1s ease-in-out;
  z-index: 999 !important;
}

.choose_room_card_overlay_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  border-radius: 25px 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.5s 0.9s;
  opacity: 0;
}

.choose_room_card:hover .choose_room_card_overlay_bg {
  opacity: 1;
}

.choose_room_card_head h3 {
  font-family: var(--primary_font);
  color: var(--white);
  font-size: 1.6em;
  text-align: center;
  word-spacing: 6px;
}

.choose_room_card_head p {
  font-family: var(--secondary_font);
  color: var(--white);
  font-size: 1em;
  text-align: center;
}

.choose_room_card_btn {
  display: flex;
  justify-content: center;
}

.choose_room_card_btn a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px 0;
  margin: 0 8px;
}

.choose_room_card_btn a img {
  width: 24px;
}

.choose_room_card_rating {
  text-align: center;
}

.choose_room_card_rating a {
  text-decoration: none;
  color: #f4a329;
  font-size: 1em;
  margin: 0 1px;
}

.choose_room_card_desc p {
  font-family: var(--secondary_font);
  font-size: 1em;
  color: var(--white);
  margin-bottom: 0;
}

.choose_room_card_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose_room_card_price p {
  font-family: var(--secondary_font);
  font-size: 1.3em;
  color: var(--white);
  margin-bottom: 0;
}

.choose_room_card_price p span {
  font-size: 1.2em;
  font-weight: 500;
}

.choose_room_card_price_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.choose_room_card_price_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
}

.choose_room_btn {
  text-align: center;
  margin-top: 50px;
}

.choose_room_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.choose_room_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

/* Choose Room End */

/* Video Start*/

#video {
  position: relative;
}

.video_content img {
  width: 100%;
}

.video_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video_title h3 {
  font-family: var(--secondary_font);
  font-size: 1.2em;
  color: var(--black);
}

.video_title h1 {
  font-family: var(--primary_font);
  font-size: 3.5em;
  color: var(--white);
  word-spacing: 5px;
  margin: 15px 0 50px;
}

.video_play_btn {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid var(--primary_color);
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
}

.video_play_btn:hover {
  background-color: var(--primary_color);
}

.video_play_btn i {
  font-size: 2.5em;
  color: var(--white);
}

/* Video End */

/* Counter Start */

#counter {
  background: url(../images/counter_bg_img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  padding: 45px 0;
}

.counter_items h2 {
  font-family: var(--primary_font);
  font-size: 2.5em;
  color: var(--white);
  word-spacing: 3px;
  text-align: center;
}
.counter_items p {
  font-family: var(--secondary_font);
  font-size: 1.8em;
  color: var(--white);
  text-align: center;
  margin: 25px 0 0;
}

/* Counter End */

/* Gallery Start */

#gallery {
  padding: 0 0 100px;
}

.gallery_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.gallery_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.gallery_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.gallery_header .header_shape img {
  width: 100%;
}

.gallery_cards {
  position: relative;
  border-radius: 10px 0;
  overflow: hidden;
  margin-top: 25px;
}

.gallery_cards img {
  width: 100%;
  border-radius: 10px 0;
}

.gallery_cards:hover .gallery_card_overlay {
  opacity: 1;
  user-select: all;
  pointer-events: all;
}

.gallery_card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.gallery_card_btn {
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary_color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.gallery_card_btn:hover {
  background-color: var(--primary_color);
}

.gallery_card_btn a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.8em;
}

.gallery_btn {
  text-align: center;
  margin-top: 50px;
}

.gallery_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.gallery_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

/* Gallery End */

/* Blog Start */

#blog {
  padding: 0 0 100px;
}

.blog_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.blog_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.blog_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.blog_header .header_shape img {
  width: 100%;
}

.blog_content {
  margin-top: 30px;
}

.blog_content img {
  width: 100%;
}

.blog_content h4 {
  font-size: 1.2em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.blog_content h2 {
  font-size: 2em;
  font-family: var(--primary_font);
  word-spacing: 4px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 0;
}

.blog_content p {
  font-size: 1em;
  font-family: var(--secondary_font);
  color: var(--primary_color);
}

.blog_btn {
  margin-top: 25px;
}

.blog_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-left: 3px solid var(--primary_color);
  border-right: 3px solid var(--primary_color);
  background-color: var(--white);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.blog_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

/* Blog End */

/* Food Menu Start */

#menu {
  padding: 0 0 100px;
}

.menu_header h3 {
  font-family: var(--secondary_font);
  font-size: 1.4em;
  color: var(--black);
  text-align: center;
}

.menu_header h1 {
  font-family: var(--primary_font);
  font-size: 3em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 20px;
}

.menu_header .header_shape {
  width: 230px;
  margin: 0 auto 20px;
}

.menu_header .header_shape img {
  width: 100%;
}

.menu_item_head {
  width: 100%;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
  background: url(../images/restaurent_foods_bg_img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .menu_item_head img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
} */

.menu_item_btn {
  text-align: center;
}

.menu_item_btn a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  border-top: 3px solid var(--primary_color);
  border-bottom: 3px solid var(--primary_color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 9px 0;
  color: var(--black);
  text-align: center;
  font-family: var(--secondary_font);
  font-size: 1em;
  border-radius: 8px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}

.menu_item_btn a:hover {
  background-color: var(--primary_color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1),
    0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.menu_item_img {
  width: 200px;
  height: 220px;
  border-radius: 6px 0;
  overflow: hidden;
}

.menu_item_img img {
  width: 100%;
  height: 100%;
  border-radius: 6px 0;
}

.menu_item_details h2 {
  font-family: var(--primary_font);
  font-size: 1.8em;
  word-spacing: 3px;
  background: var(--primary_gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.menu_item_details p {
  font-family: var(--secondary_font);
  font-size: 1.1em;
  text-align: center;
  color: var(--black);
  margin: 35px 0 45px;
}

.menu_item_details p span {
  color: var(--primary_color);
}

@media screen and (max-width: 990px) {
  .menu_item_head {
    height: 400px;
  }
}

/* Food Menu End */
