/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Tilt+Neon&display=swap");

@font-face {
  font-family: Typographica;
  src: url(../fonts/typographica/Typographica-Blp5.ttf);
}
/* fonts */

/* universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font: "Typographica";
  --secondary_font: "Metamorphous";
  --primary_gradient: linear-gradient(
    180deg,
    #000 20.83%,
    rgba(0, 0, 0, 0.25) 100%
  );
  --primary_color: #d7a469;
  --black: #000000;
  --white: #ffffff;
}

/* universal */

/* hero start */

#hero {
  height: 80vh;
  background: url(../images/restaurant_hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_content_wrapper {
  height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content .hero_header {
  font-family: var(--primary_font);
  font-size: 4em;
  color: var(--white);
  margin-bottom: 10px;
}

.hero_content .hero_sub_header {
  font-family: var(--primary_font);
  font-size: 1.8em;
  color: var(--white);
  letter-spacing: 1px;
  margin-top: 20px;
}

.hero_shape {
  position: relative;
  width: 420px;
  height: 5px;
  background-color: var(--primary_color);
  margin: auto;
}

.hero_shape::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: var(--primary_color);
}

.hero_shape::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: var(--primary_color);
}

@media screen and (max-width: 990px) {
  .hero_content .hero_header {
    font-size: 3em;
  }

  .hero_content .hero_sub_header {
    font-size: 1.6em;
    margin-top: 15px;
  }

  .hero_shape {
    width: 250px;
  }
}

/* hero end */
